<ion-header>
	<ion-toolbar>
		<ion-title>
			ion-virtual-scroll async update bug
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-content>
			there is an observable <code>messages$</code> that will get 5 new values every 1 second.<br> the values won't show up
			in <code>ion-virtual-scroll</code> unless the change has been triggered by a resize or scroll event.<br>
			<br> try to scroll and the new entries should appear.
		</ion-card-content>
	</ion-card>

	<ion-virtual-scroll [items]="(messages$ | async)">
		<ion-item *virtualItem="let message">
			{{message.userName}}: {{message.text}}
		</ion-item>
	</ion-virtual-scroll>

	<!-- <ion-virtual-scroll [items]="messages">
		<ion-item *virtualItem="let message">
			{{message.userName}}: {{message.text}}
		</ion-item>
	</ion-virtual-scroll> -->

</ion-content>